:root {
   --transparent: transparent;
   --redTheme: #FF3814;
   --lightYellow: #FCF5E8;
   --normalGreen: #ACBF60;
   --lightGreen: #E6EBCF;
   --white: #fff;
   --textColor: #252a32;
   --black: #7c7a7a;
   --lightGrey: #cecccc;
   --yellowTheme: #ffdd4d;
}
